.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-control {
  max-width: 300px;
  text-align: center;
}

.text-danger {
  position: relative;
  top: -10px;
  font-size: 0.9rem;
}

button {
  margin-top: 10px;
}

.optional::after {
  content: " (optional)";
  color: gray;
}
