.scroll-content{
  position: relative;
  background-color: #f2f2f2;
  padding: 20px clamp(10px, 10vw, 200px);
}

.scroll-sidebar {
  top: 70px;
  position: sticky;
  height: 100vh;       /* Full screen height */
  overflow-y: auto;    /* Enable vertical scrolling */
  padding: 1rem;
  border-right: 1px solid #ddd; /* Optional: visual separation */
  background-color: hsl(202, 46%, 91%);    /* Optional: subtle background */
}

#sujet-sidebar {
  flex: 0 0 300px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

.scroll-content {
  min-width: 0;
}

.content-cta {
  position: absolute;
  right: 20px;
  top: 20px;
}

app-subject-sidebar {
  display: block;
  width: 100%;
}

@media screen and (max-width: 867px) {
  #sujet-sidebar {
    display: none !important;
  }
}

