<div class="container-fluid">
    <div class="row">
        <div id="sujet-sidebar" class="col-2 scroll-sidebar">

            <app-subject-sidebar [subject]="sujet" [chapters]="chapters" [allItems]="allItems"
                [currentItem]="sujetService.currentItem()" (getAllItems)="getAllItems($event)"
                (getCurrentItem)="getCurrentItem($event)"></app-subject-sidebar>
        </div>

        <div class="col scroll-content">
            <div [innerHTML]="sujetService.selectedContent()"></div>
            <button class="content-cta btn-home"
                (click)="refreshItems(sujetService.currentItem()!.relatedItems[0].id, sujetService.currentItem()!.relatedType)">
                <div *ngIf="currentType == 'Notes'">Exercises for these notes</div>
                <div *ngIf="currentType == 'Exercises'">
                    Notes:
                    <span *ngFor="let i of sujetService.currentItem()!.relatedItems; let last = last">
                        {{i.code}}<span *ngIf="!last">, </span>
                    </span>
                </div>
            </button>
        </div>
    </div>
</div>