.scroll-content {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px clamp(10px, 10vw, 200px);
}

.scroll-sidebar {
  top: 70px;
  position: sticky;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  border-right: 1px solid #ddd;
  background-color: white;
}

#sujet-sidebar {
  flex: 0 0 300px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

.scroll-content {
  min-width: 0;
}

.content-cta {
  position: absolute;
  right: 20px;
  top: 20px;
}

.not-available {
  scale: 1.1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.5;
}

.not-available svg {
  opacity: 0.4;
}

app-subject-sidebar {
  display: block;
  width: 100%;
}

@media screen and (max-width: 867px) {
  #sujet-sidebar {
    display: none !important;
  }
}
