<div class="sidebar" [class.open]="isOpen">
  <div class="sidebar-header">
    <h3>Welcome to ÉduMeilleur!</h3>
    <button class="close-btn" (click)="closeSidebar()">X</button>
  </div>

  <div class="sidebar-body">
    <div class="extra-sidebars" *ngIf="router.url == '/ai'">
      <button>Chatbot sidebar</button>
    </div>

    <ul (click)="closeSidebar()">
      <li><a [routerLink]="['/home']">Accueil</a></li>
      <li><a [routerLink]="['/sujets']">Sujets</a></li>
      <li><a [routerLink]="['/ai']">Chatbot</a></li>
      <li><a (click)="modalService.openModal('ExploreDevModal')">Explore</a></li>
      <li><a [routerLink]="['/contactUs']">Contacter Nous</a></li>
    </ul>

    <div class="horizontal-line"></div>

    <ul (click)="closeSidebar()">
      <li><a>Log in</a></li>
      <li><a>Sign up</a></li>
      <li><a>Profile</a></li>
      <li><a>Log out</a></li>
    </ul>

    <div>
      <select id="lang" name="lang">
        <option value="english">EN</option>
        <option value="french">FR</option>
      </select>
    </div>
  </div>

</div>

<div *ngIf="isOpen" class="sidebar-overlay" (click)="closeSidebar()"></div>
