<div *ngIf="!isMobileSidebar" class="sidebar-header">
    <div class="icon-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                d="M15 19c1.2-3.678 2.526-5.005 6-6c-3.474-.995-4.8-2.322-6-6c-1.2 3.678-2.526 5.005-6 6c3.474.995 4.8 2.322 6 6Zm-8-9c.6-1.84 1.263-2.503 3-3c-1.737-.497-2.4-1.16-3-3c-.6 1.84-1.263 2.503-3 3c1.737.497 2.4 1.16 3 3Zm1.5 10c.3-.92.631-1.251 1.5-1.5c-.869-.249-1.2-.58-1.5-1.5c-.3.92-.631 1.251-1.5 1.5c.869.249 1.2.58 1.5 1.5Z" />
        </svg>
    </div>
    <div class="brand-text">
        <span class="brand-title">Amir</span>
        <span class="brand-subtitle">Ai assistant</span>
    </div>
</div>

<div class="sub-header">
    <div class="model-selection">
        <label for="model" class="model-label">Model</label>
        <select class="model-dropd" name="model" [(ngModel)]="selectedModel" (ngModelChange)="onModelChange($event)">
            <option value="openai/gpt-oss-120b:free">GPT oss-120</option>
            <option value="deepseek/deepseek-v4-flash:free">DeepSeek V4 flash</option>
            <option value="nvidia/nemotron-3-super-120b-a12b:free">Nemotron 3 super</option>
        </select>
    </div>

    <button class="btn-new" (click)="newChat.emit()">
        <i class="bi bi-plus-lg"></i>
        <span>New Chat</span>
    </button>
</div>



<!--TODO Fix overflow issue with dropdown-->

<!-- Chat List -->
<div class="chat-list">
    <div *ngFor="let c of chats" class="chat" [class.active]="c.id === currentChat?.id" (click)="getMessages.emit(c)">

        <div class="chat-title">
            <svg id="chat-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m0 14H5.2L4 17.2V4h16z" />
            </svg>
            <div>
                {{ c.title }}
            </div>
        </div>

        <!-- Dropdown for actions -->
        <div class="dropdown">
            <button class="btn btn-sm btn-light" type="button" (click)="toggleDropdown.emit(c.id)">
                <i class="bi bi-three-dots-vertical"></i>
            </button>

            <ul *ngIf="dropdownOpen === c.id" class="dropdown-menu show">
                <li><button class="dropdown-item text-danger" (click)="openDeleteModal.emit(c.id)">Delete</button></li>
            </ul>
        </div>
    </div>
</div>