.chat-title {
  margin: 5px;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--btnHover);
}

.input-group .btn,
.card-header {
  color: white;
  background-color: var(--button);
}

app-chatbot-sidebar {
  display: block;
  width: 100%;
}

/*  Delete menu    */

.list-group-item .dropdown .btn {
  background: none;
  border: none;
  padding: 0;
  color: #888;
}

.list-group-item .dropdown .btn:hover {
  color: #000;
}

.dropdown-menu.show {
  display: block;
  min-width: 8rem;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
}
