.img-circle{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   object-fit: cover;
   overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

textarea{
    resize: none;
}