.title{
    position: relative;
    left: 10px;
}

.scroll-sidebar {
  top: 70px;
  position: sticky;
  height: 100vh;       /* Full screen height */
  overflow-y: auto;    /* Enable vertical scrolling */
  padding: 1rem;
  border-right: 1px solid #ddd; /* Optional: visual separation */
  background-color: hsl(202, 46%, 91%);    /* Optional: subtle background */
}

.scroll-content{
  background-color: #f2f2f2;
}