<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h3>{{sujet?.name}}</h3>
            <button>Notes</button>
            <button>Exercises</button>
            <button>Videos</button>

            <div class="row" *ngFor="let n of allNotes">
                <div *ngIf="n.title[2] != '1'">
                    <div class="col title">
                    <a (click)="getCurrentNotes(n.id)">{{n.title}}</a>
                    </div>
                </div>

                <div *ngIf="n.title[2] == '1'">
                    <div class="col">
                        <a (click)="getCurrentNotes(n.id)"><strong>{{n.title}}</strong></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" *ngIf="currentNotes && currentNotes.content != null">
            <div [innerHTML]="formatMessage(currentNotes.content)"></div>
        </div>
    </div>
</div>
