<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h3>{{sujet?.name}}</h3>
            <button (click)="getAllItems('Notes')">Notes</button>
            <button (click)="getAllItems('Exercises')">Exercises</button>
            <button (click)="getAllItems('Videos')">Videos</button>

            <div class="row" *ngFor="let c of chapters">
                <strong>{{c}}</strong>
                <div *ngFor="let n of allItems">
                    <div *ngIf="n.chapter == c">
                        <div class="col title">
                            <a (click)="getCurrentItem(n.id, this.currentType)">{{n.title}}</a>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>

        <div class="col" *ngIf="currentItem && currentItem.content != null">
            <div [innerHTML]="formatMessage(currentItem.content)"></div>
        </div>
    </div>
</div>
