/* General layout cleanup */
.main-carousel {
  padding: 2rem 0;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  color: #555;
  font-size: 1rem;
}

/* Carousel image styling */
ngb-carousel img {
  max-height: 450px;
  object-fit: cover;
  
}

.img-paragraph {
  filter: blur(3px);
}

/* Carousel text overlay */
.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.paragraph-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1.25rem;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  border-radius: 6px;
}

/* Feature blocks */
.feature-box {
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin: 1rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Image section */
.teacher-img {
  width: 150px;       
  height: 150px;
  object-fit: cover;
  border-radius: 8px; 
}

.doc-img {
  width: 250px;       
  height: 250px;
  object-fit: cover;
  border-radius: 8px; 
}

/* Buttons */
button {
  background-color: #84b8d6;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ;
}

button:hover {
  background-color: rgba(13, 110, 253, 0.5);
}

/* Explore */
.feature-section {
  margin: 3rem 0;
  padding: 4rem 2rem;
  background-color: #e0f4ff;
}

.card-title {
  font-weight: bold;
}

.hover-card {
  transition: transform 0.2s, box-shadow 0.2s;
}
.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px){
  h2, .description{
    text-align: center;
  }
  button{
    display: block;
    margin: 0 auto;
  }
}
