<div class="container-fluid">
    <ngb-carousel>
  <ng-template ngbSlide>
      <div class="position-relative">
        <img src="assets/images/istockphoto-1419410282-612x612.jpg" class="d-block w-100" alt="Slide 1">
        <div class="carousel-caption">
          <h3>First Slide</h3>
        </div>
        <div class="centered-content">
          <p class="paragraph-overlay">This paragraph will appear centered in the middle of the slide!</p>
        </div>
      </div>
    </ng-template>

  <ng-template ngbSlide>
    <img src="assets/images/pexels-souvenirpixels-414612.jpg" class="d-block w-100" alt="Slide 2">
    <div class="carousel-caption">
      <h3>Second Slide</h3>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img src="assets/images/pexels-souvenirpixels-414612.jpg" class="d-block w-100" alt="Slide 2">
    <div class="carousel-caption">
      <h3>Third Slide</h3>
    </div>
  </ng-template>
</ngb-carousel>

  <div class="row">
    <div class="col-10">
      <h2>Explore</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Dolorem natus enim iusto numquam quam eos mollitia modi error quia perspiciatis. Sapiente velit consequatur natus recusandae dolore nihil tempora quia voluptatum?
      </p>
    </div>
    <div class="col">
      <img class="img-fluid" src="" alt="image of document">
    </div>
  </div>
</div>

<!-- Second carousel (swipeable, no arrows) -->
<app-image-slider></app-image-slider>