<div class="container-fluid">
    <ngb-carousel>
  <ng-template ngbSlide>
    <img src="public\assets\images\istockphoto-1419410282-612x612.jpg" class="d-block w-100" alt="Slide 1">
    <div class="carousel-caption">
      <h3>First Slide</h3>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img src="public\assets\images\pexels-souvenirpixels-414612.jpg" class="d-block w-100" alt="Slide 2">
    <div class="carousel-caption">
      <h3>Second Slide</h3>
    </div>
  </ng-template>
</ngb-carousel>
</div>
