:root {
  --primary: linear-gradient(to right, #98c1d9, #5fa8d3, #457b9d);
  --secondary: white;
  --sectionBlue: linear-gradient(to top, #f0faff, #e0f4ff, #c0e0f5);
  --sectionWhite: linear-gradient(to top, #ffffff, #f7f9fc, #e8ecf1);

  --button: #5fa8d3;
  --btnHover: #4a94c0;

  --border: #457b9d;

  --bg: hsl(202, 46%, 91%);

  --dark-text-color: #142c3d;

  --reg-text-size: clamp(13px, calc(2vw + 6px), 16px);
  --h1-text-size: clamp(28px, calc(4vw + 10px), 35px);
  --h2-text-size: clamp(20px, calc(2vw + 8px), 24px);
  --h3-text-size: clamp(16px, calc(1.5vw + 6px), 20px);
}

body {
  font-family: "Inter", sans-serif;
}

ul {
  padding: 0;
}

li {
 list-style-type: none;
}

h1 {
  font-size: var(--h1-text-size);
}

h2 {
  font-size: var(--h2-text-size);
}

h3 {
  font-size: var(--h3-text-size);
}

p, input {
  font-size: var(--reg-text-size);
}

button {
  font-size: var(--reg-text-size) !important;
}



button:disabled {
  background: #888fb8;
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.6;
}

/* auth-styles */

.auth-container {
  display: inline-flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

.right-side {
  width: 50vw;
  height: 100vh;
  background: var(--primary);
}

.auth-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-field input {
  align-self: stretch;
  height: 40px;
  border-radius: 5px;
  border: solid 1px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.line {
  height: 1px;
  width: 100%;
  border-bottom: solid 1px;
  opacity: 30%;
}

.auth-form-fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#signup-link {
  align-self: center;
}

.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .right-side {
    display: none;
  }

  .left-side {
    width: 100vh;
  }
}






