<div class="auth-container">

  <div class="left-side">
    <div class="login-forms">

      <h2>Log in</h2>

      <form>
        <div *ngIf="errors['badRequest']" class="text-danger">{{ errors["badRequest"] }}</div>

        <div class="auth-form-fields">
          <div class="auth-field">
            <label style="font-weight: 600;" for="username">Username or email</label>
            <input id="username" type="text" name="username" [(ngModel)]="username" />
            <div *ngIf="errors['username']" class="text-danger">{{ errors["username"] }}</div>
          </div>

          <div class="auth-field">
            <label style="font-weight: 600;" for=" password">Password</label>
            <input id="password" type="password" name="password" [(ngModel)]="password" />
            <div *ngIf="errors['password']" class="text-danger">{{ errors["password"] }}</div>
          </div>
        </div>


        <a>Forgot password?</a>

        <div class="divider">
          <div class="line"></div>
          Or
          <div class="line"></div>
        </div>

        <app-auth-extra-options></app-auth-extra-options>

        <div id="signup-link">
          <a [routerLink]="['/signup']">Don't have an account? Create one</a>
        </div>

        <div style="align-self: center;">
          <button class="login-btn" (click)="login()">Log in</button>
        </div>
      </form>



    </div>

  </div>

  <div class="right-side">

  </div>
</div>




<app-modal modalId="error500Modal" title="Something went wrong"
  body="Our servers are currently having issues, please try again later" cancelText="Ok" confirmText="Try again"
  (confirmed)="login()"></app-modal>