.container {
  margin-bottom: 3rem;
}

textarea {
    resize: none;
  }

  .card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
  }

  .form-control, textarea {
    margin-bottom: 15px;
  }

  .btn {
    width: 100%;
  }

  .btn-send{
    background-color: #98c1d9;
    transition: 0.2s;
  }

  .btn-send:hover{
    background-color: rgba(13, 110, 253, 0.5);
  }

  #attachementsTeacher, #attachementsAdmin{
    margin-bottom: 10px;
  }
