.container {
  margin-bottom: 3rem;
}

textarea {
  resize: none;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.card-content{
  padding-bottom: 20px;
}

.form-control,
textarea {
  margin-bottom: 15px;
}

.btn {
  color: white;
  width: 100%;
}

.btn-send {
  background-color: var(--button);
  transition: 0.2s;
}

.btn-send:hover {
  background-color: var(--btnHover);
}

#attachementsTeacher,
#attachementsAdmin {
  margin-bottom: 10px;
}
