<div class="container">
    <h2>Need help from a real teacher?</h2>
    <h4>Send us a message!</h4>
    <div class="row">
        <div class="col">
            <input id="titleTeacher" type="text" name="titleTeacher" placeholder="Title" [(ngModel)]="titleTeacher"><br>
            <textarea id="messageTeacher" placeholder="Message" rows="5"  cols="50" name="messageTeacher" [(ngModel)]="messageTeacher"></textarea><br>
            <input #fileInputTeacher multiple type="file" name="image">
            <button (click)="postQuestion()">Send</button>
        </div>
    </div>
</div>

<div class="container">
    <h2>Give us feedback or business inquiries</h2>
    <div class="row">
        <div class="col-6">
            <input id="titleAdmin" type="text" name="titleAdmin" placeholder="Title"><br>
            <textarea id="messageAdmin" placeholder="Message" rows="5"  cols="50" name="messageAdmin"></textarea><br>
            <button>Send</button>
        </div>

        <div class="col-6 text-center">
            <h5>Also available at:</h5>
            <a>JonhLittleFlower&#64;sigma.com</a><br>
            <a>123-765-0921</a>
        </div>
    </div>
</div>
