<div class="container">
    <div class="row">
        <div class="col text-center"><h2>Log in</h2></div>

        <div class="row">
            <div class="col">
                <input id="username" class="form-control" type="text" name="username" [(ngModel)]="username" placeholder="Username or Email"><br>
                <input id="password" class="form-control" type="text" name="password" [(ngModel)]="password" placeholder="Password"><br>

                <a [routerLink]="['/signup']">Don't have an account? Create one!</a><br><br>

                <button class="btn btn-primary" (click)="login()">Log in</button>
                
            </div>
            <div class="col-3">
                QR code or image
            </div>
        </div>



    </div>
</div>
