/* Custom styles for the chatbot */
:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  background-color: var(--bg);
}
/* TODO fix layout */

#ai-sidebar{
  width: 300px;
}

.ai-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-bar {
  height: 100vh;
  overflow-y: auto;
  margin-right: 20px;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  min-height: 0; /* Ensures it doesn't overflow */
}

.message-list {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message-content {
  max-width: 80%;
  padding: 10px 15px;
  border-radius: 20px;
}

.bot-message {
  justify-content: flex-start;
}

.bot-message .message-content {
  background-color: #f0f2f5;
  color: #000;
  border-bottom-left-radius: 5px;
}

.user-message {
  justify-content: flex-end;
}

.user-message .message-content {
  background-color: #0d6efd;
  color: white;
  border-bottom-right-radius: 5px;
}

.message-time {
  font-size: 0.75rem;
  margin-top: 5px;
  text-align: right;
}

.user-message .message-time small {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Coloring */

.btn:hover {
  background-color: var(--btnHover);
}

.input-group .btn,
.card-header {
  color: white;
  background-color: var(--button);
}

.input-card {
  background-color: #e0f4ff;
}

#scrollContainer {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  min-height: calc(100vh - 200px);
}

.list-group {
  border-radius: 10px;
}

.list-group-item {
  border: none;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: rgba(13, 110, 253, 0.5);
}

.list-group-item.active {
  background-color: #98c1d9;
  color: currentColor;
}

/* Loading animation */
.rotate-scale-up {
	-webkit-animation: rotate-scale-up 1s linear infinite both;
	        animation: rotate-scale-up 1s linear infinite both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 867px) {
  #ai-sidebar {
    display: none !important;
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

