<!--TODO fix the hover bug-->
<swiper-container
  loop="true"
  [breakpoints]="{
    '320': { 'slidesPerView': 1, 'spaceBetween': 10 },
    '640': { 'slidesPerView': 2, 'spaceBetween': 15 },
    '1024': { 'slidesPerView': 4, 'spaceBetween': 20 },
    '1440': { 'slidesPerView': 5, 'spaceBetween': 20 }
  }"
  class="sujet-swiper"
>
  <swiper-slide *ngFor="let s of sujets">
    <div class="sujet-card" [routerLink]="['/sujets', s.id]">
      <div class="card-body">
        <h5 class="card-title">{{ s.name }}</h5>
        <p class="card-text">{{ s.description }}</p>
      </div>
    </div>
  </swiper-slide>
</swiper-container>

<app-modal modalId="error500Modal" title="Something went wrong" body="Our servers are currently having issues, please try again later" cancelText="Ok" confirmText="Try again" (confirmed)="ngOnInit()"></app-modal>