#pfp{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   object-fit: cover;
   overflow: hidden;
   
}

button{
   width: 100%;
}

.card {
   margin-top: 20px;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card-header{
   background-color: #f2f2f2;
}

.container{
   font-family: 'Segoe UI', sans-serif;
   margin: 40px auto;
   padding: 30px;
   background-color: #f8f9fa;
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}