<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="" alt="profile picture">
            <h4>{{username}}</h4>

            <div *ngIf="userService.roles().includes('teacher')">
                <a>Teacher</a>
            </div>

            <div *ngIf="userService.roles().includes('admin')">
                <a>admin</a>
            </div>

            <h5>About me</h5>
            <p>{{bio}}</p>
            <button>Edit profile</button>

        </div>

        <div class="col">

        </div>
    </div>
    

</div>
