<header>
  <div class="container-fluid">
    <div id="main-row" class="row align-items-center flex-nowrap">
      <div class="col-auto align-self-center text-center">
        <svg id="hamburger" (click)="openSidebar()" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 50 50">
          <path fill="white" d="M10 12h30v4H10zm0 10h30v4H10zm0 10h30v4H10z" />
        </svg>

        <a id="logo" [routerLink]="['']">
          <img src="/logo.png" width="50px" height="50px" />
          <div>EduMeilleur</div>
        </a>
      </div>

      <!-- Main nav -->
      <div id="main-nav" class="col-auto">
        <nav class="d-flex align-items-center flex-nowrap">
          <a [routerLink]="['/sujets']" routerLinkActive="nav-bar-active" class="nav-bar">Sujets</a>
          <a [routerLink]="['/ai']" routerLinkActive="nav-bar-active" class="nav-bar">Chatbot</a>
          <a class="nav-bar" routerLinkActive="nav-bar-active" (click)="modalService.openModal('ExploreDevModal')">Explore</a>
          <a [routerLink]="['/contactUs']" routerLinkActive="nav-bar-active" class="nav-bar">Contacter Nous</a>
        </nav>
      </div>

      <div class="col"></div>

      <div id="header-right" class="col-auto text-end user-nav align-self-center">
        <nav>
          <div class="row">
            <!--User nav-->
            <div class="col-4">
              <select id="lang" name="lang">
                <option value="english">EN</option>
                <option value="french">FR</option>
              </select>
            </div>

            <div class="col-8 text-end">
              <div class="d-flex justify-content-end align-items-center gap-4">
                <button (click)="openDisconnectModal()" class="btn btn-link p-0"><i class="bi bi-box-arrow-right" style="font-size: 1.5rem"></i></button>

                <a (click)="profile()">
                  <img class="img-circle" *ngIf="username != null" [src]="global.pfpSrc + username + '?t=' + timestamp" />
                  <img class="img-circle" *ngIf="username == null" src="assets/images/notLoggedIn.png" />
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<app-sidebar [isOpen]="isSidebarOpen" (close)="closeSidebar()"></app-sidebar>
