<div class="auth-container">
  <div class="left-side">

    <div class="signup-forms">
      <h2>Sign up</h2>

      <form>
        <app-sign-up-main (next)="handleMainData($event)" *ngIf="isFirstPage()"></app-sign-up-main>
        <app-sign-up-extra (back)="isFirstPage.set(true)" (register)="handleExtraData($event)"
          *ngIf="!isFirstPage()"></app-sign-up-extra>
      </form>

    </div>


  </div>

  <div class="right-side"></div>
</div>

<app-modal modalId="error500Modal" title="Something went wrong"
  body="Our servers are currently having issues, please try again later" cancelText="Ok" confirmText="Try again"
  (confirmed)="register()"></app-modal>