<div class="layout-wrapper">
  <header>
  <div class="container-fluid">
    <div id="main-row" class="row">

      <div class="col-1 align-self-center text-center">
        <a [routerLink]="['']">ÉduMeilleur</a>
      </div>

      <div class="col">
        <nav>
            <div class="row align-items-center text-center" style="height: 60px;">
              <div [routerLink]="['/sujets']" class="col nav-bar"><a>Sujets</a></div>
              <div [routerLink]="['/ai']" class="col nav-bar"><a>AI</a></div>
              <div class="col nav-bar"><a>Explore</a></div>
              <div [routerLink]="['/contactUs']" class="col nav-bar"><a>Contacter Nous</a></div>
            </div>
        </nav>
      </div>
      
    
      <div class="col-2 text-end user-nav align-self-center">
        <nav>
          <div class="row">
            <!--User nav-->
              <div class="col-4">
                <select class="form-select" id="lang" name="lang">
                  <option value="english">EN</option>
                  <option value="french">FR</option>

                </select>
              </div>

              <div class="col-8 text-end">
                <div class="d-flex justify-content-end align-items-center gap-4">
                  
                  <button (click)="openDisconnectModal()" class="btn btn-link p-0"><i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i></button>

                  
                    <a (click)="profile()">
                      <img class="img-circle" *ngIf="username != null" [src]='global.pfpSrc + username + "?t=" + timestamp'>
                      <img class="img-circle" *ngIf="username == null" src="assets/images/notLoggedIn.png">
                    </a>
                </div>
              </div>
          </div>
        </nav>
      </div>
    
    
    </div>
  </div>
</header>
<main>
  <ngx-spinner><p style="color: white;">Loading IQ...</p></ngx-spinner>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col text-center">
        this is my footer, do you like it?
      </div>
    </div>

  </div>
</footer>
</div>

<!-- Disconnect Confirmation Modal -->
<app-modal
  modalId="disconnectModal"
  title="Disconnect"
  body="Are you sure you want to disconnect?"
  confirmText="Disconnect"
  (confirmed)="disconnect()">
</app-modal>
