header {
  height: 70px;
  background-color: white; /* or your preferred color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* optional for subtle depth */
  position: sticky;
  top: 0;
  z-index: 1000; /* make sure it stays on top */
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img-circle{
   height: 40px;
   max-width: 40px;
   border-radius: 50%;
   object-fit: cover;
}

#lang {
  font-weight: 500;
}



html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Wrapper that contains header, main and footer */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure main content grows to fill space */
main {
  flex-grow: 1;
}

/* Optional footer styling */
footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

