<header>
  <div class="container-fluid">
    <div class="row">

      <div class="col-1 align-self-center text-center">
        <a [routerLink]="['']">ÉduMeilleur</a>
      </div>

      <div class="col">
        <nav>
            <div class="row align-items-center text-center" style="height: 60px;">
              <div class="col"><a>Sujets</a></div>
              <div class="col"><a>AI</a></div>
              <div class="col"><a>Explore</a></div>
              <div class="col"><a>Contacter Nous</a></div>
            </div>
        </nav>
      </div>
      
    
      <div class="col-2 text-end">
        <nav>
          <div class="row">
            <!--User nav-->
              <div class="col-6">
                <a [routerLink]="['/signup']">Sign up</a> | 
                <a [routerLink]="['/login']">Log in</a>
              </div>

              <div class="col-6 text-center">
                <!--Language selector-->
                <div id="lang">
                  EN
                </div>
                <!--Profile-->
                <a [routerLink]="['/profile']"><img class="img-circle" src="assets/images/istockphoto-1419410282-612x612.jpg"></a>
              </div>

             
          </div>
        </nav>
      </div>
    
    
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<footer>

</footer>