header {
  height: 70px;
  background-color: 	#98c1d9; /* or your preferred color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: sticky;
  top: 0;
  z-index: 1000; /* make sure it stays on top */
}

.user-nav{
  background-color: #82a8be;
  height: 50px;
  border-radius: 10px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.row {
  margin: 0;
}

.col.nav-bar {
  padding: 0;
}

.nav-bar {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  
}

.nav-bar:hover {
  background-color: rgba(13, 110, 253, 0.3); 
  border-radius: 0; 
}



.img-circle{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   object-fit: cover;
   cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}



#lang {
  font-weight: 500;
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  /*background-color: #f2f2f2;*/
  /*background-color: 	hsl(195, 100%, 95%);*/
  background-color: hsl(202, 46%, 91%);
}

/* Wrapper that contains header, main and footer */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure main content grows to fill space */
main {
  flex-grow: 1;
}

/* Optional footer styling */
footer {
  background-color: #98c1d9;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

