<div class="sidebar-content">
  <h3 class="sidebar-title">{{ subject?.name }}</h3>

  <div class="sidebar-body">
    <div class="sidebar-buttons">
      <button [class.active]="currentType === 'Notes'" (click)="getAllItems.emit('Notes')">Notes</button>
      <button [class.active]="currentType === 'Exercises'" (click)="getAllItems.emit('Exercises')">Exercises</button>
      <button [class.active]="currentType === 'Videos'" (click)="getAllItems.emit('Videos')">Videos</button>
    </div>

    <div class="chapter-section">
      <div class="chapter" *ngFor="let c of chapters; let i = index">
        <strong>{{ i + 1 }}. {{ c }}</strong>
        <div *ngFor="let n of allItems" class="sub-chapters">
          <div class="item" [class.active]="n.id == currentItemId" *ngIf="n.chapter == c" (click)="getCurrentItem.emit(n.id)">
            <p>{{ n.code }} {{ n.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
