.sidebar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
}

h3 {
  font-size: var(--h3-fixed-size);
}

p, button {
  font-size: var(--p-fixed-size) !important;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  align-self: stretch;
}

.chapter-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chapter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub-chapters {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.sidebar-buttons button {
  padding: 0.4rem 0.75rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  transition: background-color 0.2s;
  cursor: pointer;
}

.sidebar-buttons button:hover {
  background-color: #deeef7;
}

.item {
  display: flex;
  padding: 15px 10px;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  background-color: white;

  border-radius: 5px;
  border: solid 1px #ccc;
  transition: background-color 0.2s;
}

.item p {
  margin-bottom: 0 !important;
}

.item:hover {
  background-color: var(--item-hover);
}

.item.active {
  background-color: var(--active);
}

